{% extends 'base.html' %}
{% load static %}

{% block header_extra_html_css %}
<!-- nothing here -->
{% endblock %}

{% block content %}

  <section id="select-img-body">
    <div class="container select-img-container">
        <div class="row">
            <div class="col-sm-12">
              <div class="slect-box-img-title">
                    <p class="select-box-img-title">Select an Experiment</p>
                    <p class="select-box-img-subtitle">human</p>
              </div>
              <div class="col-sm-4 select-img-box1 all-box-same-class">
                <i class="far fa-circle select-img-circle"></i>
                <img data-file="jurkat_all.bam" src="{%  static 'main_design/img/choose_bam_file/jurkat_all.bam.png' %}" class="select-img-src1">

              </div>  
            </div>
            <div class="col-sm-12">
               <div class="slect-box-img-title">
                    <p class="select-box-img-subtitle2">mouse</p>
              </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="GCliPP_cd8_merged.bam" src="{%  static 'main_design/img/choose_bam_file/GCliPP_cd8_merged.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="GCliPP_everything.bam" src="{%  static 'main_design/img/choose_bam_file/GCliPP_everything.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="GCliPP_minus_merged.bam" src="{%  static 'main_design/img/choose_bam_file/GCliPP_minus_merged.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="GCliPP_plus_merged.bam" src="{%  static 'main_design/img/choose_bam_file/GCliPP_plus_merged.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="GCliPP_th2_merged.bam" src="{%  static 'main_design/img/choose_bam_file/GCliPP_th2_merged.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="Loeb_ko_sorted.bam" src="{%  static 'main_design/img/choose_bam_file/Loeb_ko_sorted.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="Loeb_wt_sorted.bam" src="{%  static 'main_design/img/choose_bam_file/Loeb_wt_sorted.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="miR15-16_cKO_RNAseq.bam" src="{%  static 'main_design/img/choose_bam_file/miR15-16_cKO_RNAseq.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="miR15-16_FL_RNAseq.bam" src="{%  static 'main_design/img/choose_bam_file/miR15-16_FL_RNAseq.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="miR29_KO_Th17.bam" src="{%  static 'main_design/img/choose_bam_file/miR29_KO_Th17.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="miR29_WT_All.bam" src="{%  static 'main_design/img/choose_bam_file/miR29_WT_All.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="miR29_WT_Th2.bam" src="{%  static 'main_design/img/choose_bam_file/miR29_WT_Th2.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="miR29_WT_Th17.bam" src="{%  static 'main_design/img/choose_bam_file/miR29_WT_Th17.bam.png' %}" class="select-img-src2">
                </div>
                <div class="col-sm-4 select-img-box2 all-box-same-class">
                    <i class="far fa-circle select-img-circle"></i>
                    <img data-file="RNAseq_Th2_stimulated.bam" src="{%  static 'main_design/img/choose_bam_file/RNAseq_Th2_stimulated.bam.png' %}" class="select-img-src2">
                </div>
            </div>
            <div class="col-sm-12">
                  <p class="plot-button-class">Plot</p>
            </div>
        </div>
    </div>
  </section>

{% endblock %}

{% block footer_extra_html_css %}
  <script>
        $(document).ready(function(){
          $('.team_menu').addClass('active-page')
        })
        var to_send_url  = 'hi'
        
        // mm10/hg38
        

       // var to_send_url = 


        var circleBoxType="";
        var linkaddfinal = "";
        var link = "{% url 'main_project:graphing_dashboard' %}?genome="

        $(".select-img-box1").click(function(){
           $(".select-img-circle",this).toggleClass("far fas");
           $(".select-img-box2 .select-img-circle").removeClass("fas")
           $(".select-img-box2 .select-img-circle").addClass("far")
           $(this).toggleClass("this-box-is-selected")
           $(".select-img-box2").removeClass("this-box-is-selected")
           circleBoxType="hg38&"

        })

        $(".select-img-box2").click(function(){
           $(".select-img-circle",this).toggleClass("far fas");
           $(".select-img-box1 .select-img-circle").removeClass("fas")
           $(".select-img-box1 .select-img-circle").addClass("far")
           $(this).toggleClass("this-box-is-selected")
           $(".select-img-box1").removeClass("this-box-is-selected")
           circleBoxType="mm10&"
        })

        $(".plot-button-class").click(function(){
           console.log(circleBoxType)
           if ($(".all-box-same-class").hasClass("this-box-is-selected")) {
                $('.this-box-is-selected img').each(function() {
                    var mylist = $(this).attr('data-file')
                    var linkaddclick = 'files[]='+mylist
                    linkaddfinal += linkaddclick+'&'
                });
                
            }
            var sendfinallink = link+circleBoxType+linkaddfinal
            window.location.href = sendfinallink
            console.log(sendfinallink)
        })

   </script>
{% endblock %}